.loginForm {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.NUSLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.textStyle {
    font-family: Arial;

}

.padding {
    padding-top: 75px;
}