.chatRoom {
    display: flex;
    flex-grow: 4;
}

.receiveMessage {
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: #ff9a8d;
    border-radius: 20px 20px 20px 10px;
    margin: 2px;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
}

.sendMessage{
    display: flex;
    justify-content: flex-end;
    background-color: #4a536b;
    color: white;
    border-radius: 20px 20px 10px 20px;
    margin: 2px;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    margin-left: auto;
}

.textBar {
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #4a536b;
    outline: none;
    margin-top: 5px;
    margin-bottom: 7px;
}

.sendButton {
    padding: 10px;
    background-color: #4a536b;
    color: white;
    border: 1px solid #4a536b;
    border-radius: 10px;
    margin-left: 2px;
}