.chatRoom {
    display: flex;
    flex-grow: 4;
}

.receiveMessage {
    display: flex;
    justify-content: flex-start;
}

.sendMessage{
    display: flex;
    justify-content: flex-end;
}

.textBar {
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1D5FB6;
}

.sendButton {
    padding: 10px;
    background-color: #1D5FB6;
    color: aliceblue;
    border: 1px solid #1D5FB6;
    border-radius: 4px;
}