.chatRoom {
    display: flex;
    flex-grow: 4;
}

.receiveMessage {
    display: flex;
    justify-content: flex-start;
    background-color: pink;
    border-radius: 10px;
    margin: 2px;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
}

.sendMessage{
    display: flex;
    justify-content: flex-end;
    background-color: #1D5FB6;
    color: white;
    border-radius: 10px;
    margin: 2px;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    margin-left: auto;
}

.textBar {
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1D5FB6;
    outline-offset: -1px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.sendButton {
    padding: 10px;
    background-color: #1D5FB6;
    color: white;
    border: 1px solid #1D5FB6;
    border-radius: 10px;
    margin-left: 2px;
}